@charset "utf-8";

/* CSS Document */

*{
	margin:0px;
	padding:0px;
	font-family:"微软雅黑";
	font-size:13px;
	}
.shopping{
	width:200px;
	height:300px;
	border:solid 1px #CCC;
	float:left;
	margin:5px 5px;
	text-align:center;
	}
.shopping:hover{
   border:solid 1px #F63;
	}
img{
	display:block;
	margin-left:10px;
	}
h4{
	color:#F00;
	line-height:24px;
	}
.sbtn{
	width:100px;
	height:30px;
	background:#F60;
	border-radius:10px;
	display:block;
	text-align:center;
	text-decoration: none;
	margin:20px auto;
	line-height:30px;
	color:#fff;
	}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    background: #000;
    z-index: 2000;
    width: 35px;
    height: 100%;
    font-size: 12px;
    color: #fff;
	}
.shoppingcar{
	color: #fff;
    text-align: center;
    line-height: 20px;
    padding: 200px 0 0 0px;
	}
.sidebar i {
        width: 35px;
        height: 35px;
        display: block;
        background: url(../img/car.png) no-repeat;
    }
.sidebar span {
        display: block;
        width: 20px;
        margin: 0 auto;
   }
#num{
	 color:red;
	 display:block;
	 margin:0 6px;
	 }
#msg {
    position: fixed;
    top: 300px;
    right: 35px;
    z-index: 10000;
    width: 1px;
    height: 52px;
    line-height: 52px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    background: #360;
    display: none;
}
